.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px 60px;
  z-index: 1;

  place-items: center;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-logo-text a {
  color: rgb(255, 80, 80);
  padding: 10px 10px 10px 0px;
  font-size: 20px;
  text-decoration: none;
  transition: 150ms all ease-in-out;
}

.nav-logo-text a:hover {
  color: rgb(255, 50, 50);
  transition: 150ms all ease-in-out;
}

.black {
  background-color: #111;
}

.nav-logo {
  left: 40px;
  width: 80px;
  object-fit: contain;
}

.nav-secondary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 170px;
  top: 0;
  height: 100%;
}

.search-icon {
  fill: #fff;
  margin-right: 10px;
}

.search-Input {
  border: 1px solid #fff;
}

.search-Input input {
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 7px;
  box-sizing: border-box;
  transition: 150ms all ease-in-out;
}

.search-Input input:focus-visible {
  outline: 0;
  transition: 150ms all ease-in-out;
}

.nav-username {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  transition: 150ms ease-in-out;
}

.nav-username:hover {
  color: rgb(255, 255, 255);
  transition: 150ms ease-in-out;
  cursor: default;
}

.nav-tab {
  display: flex;
  color: #fff;
  margin: 0px;
  left: 120px;
}

.nav-links {
  margin-left: 20px;
  margin-right: 10px;
  list-style: none;
}

.nav-tab a {
  color: #e5e5e5;
  text-decoration: none;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.nav-tab a:hover {
  color: #b3b3b3;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.nav-tab a.active {
  color: #fff;
  font-weight: 700;
  transition: all 0.08s;
  transition-timing-function: ease-in;
}

.nav-tab a.inactive {
  transition: all 0.08s;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  color: #fff;
  position: absolute;

  top: calc(100% + 1rem);
  right: 0px;
  background-color: #74747438;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  line-height: normal;
  transition-delay: 100ms;
  display: flex;
  border-radius: 5px;
}

.dropdown:hover > .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
}

.dropdown-menu:hover {
  opacity: 1;
}

.dropdown-menu-item {
  padding: 8px;
}

.dropdown-menu-item a {
  text-decoration: none;
  color: white;
}

.dropdown-menu-item a:hover {
  color: rgb(150, 150, 150);
  transition: 150ms ease-in-out;
}

.nav-username a {
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-username a:hover {
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: rgb(87, 87, 87);
}

.dropdown-menu-button {
  width: 100%;
  border: 1px solid #8f8f8f;
  background-color: #2b2b2b;
  color: #fff;
  padding: 5px 15px;
  transition: all 150ms ease-in-out;
}

.dropdown-menu-button:hover {
  cursor: pointer;
  background-color: #5c5c5c;
  border: 1px solid #fff;
}
